
<!--footer starts from here-->
<footer class="footer" style="position: absolute;bottom: 0;">
    <!-- <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <!-- <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
    <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
    
    
    </div> -->
    
<!--     
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <!--footer_ul_amrc ends here-->
    <!-- </div> -->
   
     
    
    
    <!-- <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    headin5_amrc ends here-->    
    <!--footer_ul2_amrc ends here-->
    
    
    <div class="container">    
    <p class="text-center">Copyright @2019  by The Better Code</p>          
    </div>    
    </footer>
    