
  <section >
      <div class="overlay-wcs"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Working-it.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
          <div class="d-flex h-10  text-center align-items-center">
              <div class="w-100 text-white">
                <h1>KCODE </h1>
                <p class="lead ">Bienvenido a nuestro portal , donde podras compartir  codigo y aprender muchas nuevas tecnologias.</p>
              </div>
            </div>
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">            
            <div class="form-row">
                <div class="col-md-7 d-flex Video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                  <div class="fadeIn first">
                    <br>
                    <img src="../../../assets/Kcode.png" class="rounded-circle" id="icon" alt="User Icon" />
                  </div>                  
                  <form>        
                    <button type="button" class="btn btn-primary fadeIn fourth m-4" (click)="login()">
                      Iniciar sesión
                    </button>
                  </form>
                  </div>
                </div>
              </div>
              </div>   
          </div>
        </div>
      </div>
    </section>