<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Titulo</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre grupo">
    
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Descripción</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Descripción">
    </div>
    <label for="exampleInputPassword1">Fondo</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
      <label class="custom-file-label" for="validatedCustomFile">Buscar fondo...</label>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Crear Grupo</button>
    <br>
    <br>
  </form>
</div>

